body {
  /* font-family: 'Century-Gothic', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; */
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  width: 100%;
  margin: auto;
  background-size: auto;
  background-color: gray;
}


body::after {
  content: '';
  display: flex;
  flex-direction: column;
  background-color: gray;
  opacity: 50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

a {
  text-decoration: none;
}

p {
  color: black;
  text-align: left;
}

.header {
  filter: drop-shadow(0px 0px 5px #212529);
  
}
.header-text {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}
/* .navbar{
  position: sticky;
} */
.title-header {
  text-decoration: none;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

.title-page {
  color: white;
  margin-top: 12em;
  font-size: larger;
}

.about-info {
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px #212529);
  margin-top: 5em;
  font-family: 'Maven Pro', sans-serif;
  

  /* margin-bottom: 1em; */
}

.navbar-toggler {
  margin-right: 1em;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 0.5em;
}

.flexitem {
  width: 30%;
}

.navbar {
  padding-left: 1em;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  
}

ul li a:hover {
  color: #fff;
  /* text-decoration:  */
}

.active {
  color: #fff;
  text-decoration: underline;
  transition: 1s;
}

.nav-box {
  width: 100%;
}
.nav-item {
  text-decoration: none;
}

.Daniel {
  /* padding-top: 1em; */
  /* padding-left: 1em;
  padding-right: 1em; */
  width: 100%;
  height: auto;
  transition: 0.6s all ease-in-out;
  border: solid;
  color: white;
}
/* .Daniel:hover{
  transform: scale(1.1)
} */

.portfolio-title {
  text-decoration: none;
  color: black;
  text-align: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px #212529);
  margin-top: 5em;
  font-family: 'Maven Pro', sans-serif;
}

.project-box {
  filter: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transition: 0.6s all ease-in-out; */
}

.project-title-box {
  /* background: gray; */
  /* opacity: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-title-box2{
  background: gray; 
  opacity: 50%; 
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.desc-box{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
 justify-content: space-evenly;
}

.card-img-top{
  transition: 0.6s all ease-in-out;
}

.lego-img {
  height: 319px;
  object-fit: cover;

}

.gamer-img{
  height: 319px;
  object-fit: cover;
}

.beer-img{
  height: 120%;
  object-fit: cover;
}

.weather-img{
  width: 100%;
  height: 120%;
  object-fit:cover;
}

.fitness-img{
  width: 100%;
  height: 120%;
  object-fit:cover;
}

.card-img-top:hover{
  opacity: 75%;
}

.git-dep {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.git {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 5px;
  margin-left: 0.5em;
  margin-right: 0.25em;
  height: 3em;
  width: 50%;
}

.dep {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 5px;
  margin-right: 0.5em;
  margin-left: 0.25em;
  height: 3em;
  width: 50%;
}

.resume-container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 5px #212529);
  margin-top: 5em;
  margin-bottom: 1em;
  font-family: 'Maven Pro', sans-serif;
}
.resume-download-div-about {
  max-width: 50%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  background-color: white;
  padding-left: 1em;
  font: #212529;
  border-radius: 5px;
}
.icon-box{
  margin-top: 3em;
  margin-bottom: 3em;
  width:80%;
  height: 40%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  /* border: solid;
  color: white; */
}

.icon{
  margin: 1em;
  width:2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.resume-download-div {
  max-width: 80%;
  display: flex;

  margin: auto;
  align-items: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: white;
  padding-left: 1em;
  font: #212529;
  border-radius: 5px;
}

iframe {
  border-radius: 5px;
}
.contact-container {
  filter: drop-shadow(0px 0px 5px #212529);
  margin-top: 5em;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2em;
  margin-bottom: 2em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1em;
  margin-right: 2em;
}
.submitB {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: center;
}

.error-text {
  color: white;
  text-align: center;
}

.foot-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer_text {
  color: white;
  text-align: center;
}

.footer_icon {
  color: white;
  text-decoration: none;
  margin-right: 0.5em;
}
footer {
  position: fixed;

  bottom: 0;
  width: 100%;
  height: 3rem;
  margin-top: 3em;
  filter: drop-shadow(0px 0px 5px #212529);
}
