body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 1em;
  border: solid;
  
}
 


.title-header{
  color: white;
  margin-top: 1em;

}
.title-page{
  color:white;
  margin-top: 15em;
  font-size: larger;
}
.web-developer{
font-size: 80px;
}

.enter-btn{
  color: white;
  border: solid;
  padding: .5em;
  
}

#navigation {
  border: solid;
  color: thistle;
  width: 50%;
}
.nav-item{

}


