body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 1em;
  border: solid;
}
 
.page_title{
  width: 50%;
}


#navigation {
  border: solid;
  color: thistle;
  width: 50%;
}
.nav-item{

}


